In [1]:
print("kanwal")
print("I'm student of Zeenat Zulfiqar")

kanwal
I'm student of Zeenat Zulfiqar

In [2]:
####### This is AI comment
print ("I'm comment of AI")

I'm comment of AI

In [7]:
x = "kanwal"
y = " I'm a teacher of kanwal"
z= x+y;
print(x)
print(y)
print(x+y)

kanwal
 I'm a teacher of kanwal
kanwal I'm a teacher of kanwal

In [8]:
x = str("kanwal")    # x will be '3'
y = int(8)    # y will be 3
z = float(8)  # z will be 3.0
print(x)
print(y)
print(z)

kanwal
8
8.0

In [10]:
x = 7
y = "kanwal"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
a = 4
A = "Kanwal"
print(4)
print('kanwal')

4
kanwal

In [13]:
#Legal variable names:
myvar = "Rahat"
my_var = "Kanwal"
_my_var = "Kanwal"
myVar = "Kanwal"
MYVAR = "Kanwal"
myvar2 = "Kanwal"

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [17]:
x = y = z = "Cherry"
print(x)
print(y)
print(z)

Cherry
Cherry
Cherry

In [18]:
x = "Kanwal"
print(x)

Kanwal

In [19]:
#Example 1
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [20]:
dict = {
  "country": "pakistan",
  "model": "cnn",
  "year": 1964
}
print(dict["country"])

pakistan

In [22]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,  #Duplicate values will overwrite existing values:
  "year": 2024
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [23]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(dict))

3

In [25]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["year"] = 2024  #Change the "year" to 2024:
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [26]:
#Update the "year" of the car by using the update() method:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.update({"year": 2024})
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

In [27]:
#If statement:
a = 25
b = 300
if b > a:
  print("b is greater than a")

b is greater than a

In [28]:
#Elif
#The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition"
#In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".
a = 300
b = 25
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [29]:
a = 300
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [30]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [31]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [33]:
def my_function():
  print("Hello from a function, i am kanwal")

my_function()

Hello from a function, i am kanwal

In [35]:
def my_function(fname):
  print(fname + " SE student")

my_function("kanwal")
my_function("amen")
my_function("amina")

kanwal SE student
amen SE student
amina SE student

In [38]:
def my_function(country = "Pakistan"):
  print("I am from " + country)

my_function("Denmark")
my_function("India")
my_function()
my_function("Brazil")

I am from Denmark
I am from India
I am from Pakistan
I am from Brazil

In [40]:
def my_function(x):
  return 10 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

30
50
90